<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.dao.RoleDao">
	<resultMap type="com.dream.entity.Role" id="roleRM">
		<id property="id" column="id"/>
		<result property="role" column="role"/>
		<result property="description" column="description"/>
		<result property="available" column="available"/>
	</resultMap>
	<resultMap type="com.dream.vo.RoleVo" id="roleVo">
		<id property="id" column="id"/>
		<result property="role" column="role"/>
		<result property="description" column="description"/>
		<result property="available" column="available"/>
		<collection property="listResources" ofType="com.dream.entity.Resource">
			<id property="id" column="resource_id"/>
			<result property="name" column="name"/>
			<result property="type" column="type"/>
			<result property="url" column="url"/>
			<result property="permission" column="permission"/>
			<result property="parentId" column="parent_id"/>
			<result property="parentIds" column="parent_ids"/>
			<result property="available" column="available"/>
			<result property="iconCls" column="iconcls"/>
			<result property="state" column="state"/>
		</collection>
	</resultMap>
	<insert id="createRole" parameterType="com.dream.entity.Role">
		insert into sys_role(role,description,available) values(
		#{role},#{description},#{available})
	</insert>
	<update id="updateRole" parameterType="com.dream.entity.Role">
		update sys_role 
		<set>
			<if test="role != null">role=#{role},</if>
			<if test="description != null">description=#{description},</if>
			<if test="available != null">available=#{available}</if>
		</set>
		where id=#{id}
	</update>
	<delete id="deleteRole" parameterType="long">
		delete from sys_role where id =#{id}
	</delete>
	<select id="findOne"  resultMap="roleVo">
	SELECT c.* ,d.name,d.type,d.url,d.`parent_id`,d.`permission`,d.`available`,d.`iconCLs`,d.`state` FROM 
			(SELECT a.*,b.`resource_id` FROM sys_role a LEFT JOIN role_resource b ON a.`id`=b.`role_id` WHERE a.id=#{roleId}) c
	LEFT JOIN sys_resource d ON c.resource_id=d.`id`
	</select>
	<select id="findAll" resultMap="roleRM">
		select * from sys_role
	</select>
</mapper>