<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dream.dao.UserDao">
	<resultMap type="com.dream.entity.User" id="userRM">
		<id property="id" column="id"/>
		<result property="organizationId" column="organization_id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="salt" column="salt"/>
		<result property="roleIds" column="role_ids"/>
		<result property="locked" column="locked"/>
	</resultMap>
	<resultMap type="com.dream.vo.UserVo" id="userVoRM">
		<id property="id" column="id"/>
		<result property="organizationId" column="organization_id"/>
		<result property="organizationName" column="organization_Name"/>
		<result property="username" column="username"/>
		<result property="salt" column="salt"/>
		<collection property="listRole" ofType="com.dream.entity.Role">
			<id property="id" column="role_id"/>
			<result property="role" column="role_NAME"/>
			<result property="description" column="role_description"/>
		</collection>
	</resultMap>
	<insert id="createUser" parameterType="com.dream.entity.User">
		insert into sys_user(organization_id, username, password, salt, role_ids, locked) 
		values (#{organizationId},#{username},#{password},#{salt},#{roleIds},#{locked})
	</insert>
	<update id="updateUser" parameterType="com.dream.entity.User" >
		update sys_user 
		<set>
			<if test="organizationId != null">organization_id=#{organizationId},</if>
			<if test="username != null">username=#{username},</if>
			<if test="password != null">password=#{password},</if>
			<if test="salt != null">salt=#{salt},</if>
			<if test="roleIds != null">role_ids=#{roleIds},</if>
			<if test="locked != null">locked=#{locked},</if>
		</set>
		where id =#{id}
	</update>
	<delete id="deleteUser" parameterType="Long">
		delete from sys_user
		where id in
<!-- 		<foreach collection="array" item="id" open="(" close=")" separator=","> -->
			#{id}
<!-- 		</foreach> -->
	</delete>
	<select id="findOne" parameterType="Long" resultMap="userVoRM">
	SELECT a.*,m.name AS organization_Name 
			FROM (
					SELECT b.*,a.role AS role_Name,a.id AS role_Id,a.description AS role_description
						 FROM 
						 	sys_role a,
						 	sys_user b,
						 	role_user c 
						 WHERE 
						 		a.id=c.role_id 
						 AND 	b.id=c.user_id) a,
				sys_organization m
			WHERE a.organization_id=m.id  and a.id=#{id}
	</select>
	<select id="findAll" resultMap="userVoRM">
		SELECT a.*,m.name AS organization_Name 
			FROM (
					SELECT b.*,a.role AS role_Name,a.id AS role_Id,a.description AS role_description
						 FROM 
						 	sys_role a,
						 	sys_user b,
						 	role_user c 
						 WHERE 
						 		a.id=c.role_id 
						 AND 	b.id=c.user_id) a,
				sys_organization m
			WHERE a.organization_id=m.id  
	</select>
	<select id="findByUsername" parameterType="string" resultMap="userRM">
		select * from sys_user where username=#{username}
	</select>
</mapper>